*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color:#f6f5f5 ;
}
ul{
    list-style: none;

}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 50vh;
    background-image: url(../images/);
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
} 

/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin:30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight:700 ;

}
.logo{
    font-family: 'Ceviche One', cursive;
    color: #000000;
    font-size: 33px;
}
.active{
    font-weight: bold;
    color: #2d2a2a;
}


/* text-container */
.text-container p:nth-child(1){
  font-family: 'Varela Round', sans-serif; 
  font-weight: bold;
  color: #6d6d6d;
  font-size: 38px; 
}
.text-container p:nth-child(2){
    font-family: 'Varela Round', sans-serif; 
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 38px;
}
.text-container p:nth-child(3){
    font-family:'Lobster', cursive; 
    color: #403e3e;
    font-size: 38px;
    line-height: 30px;

}
.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}
.text-container{
    position: absolute;
    left: 14%;
    top: 38%;
    transform: translate(-13% , -42%);
}

.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family:'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;

}
.hire-btn{
    border: 2px solid #373636;
    color: #373636;
}
.down-cv{
    background-color: #0b0b0b;
    color: #FFFFFF;
    border: none;
}
button:active{
    transform: scale(1.1);
}
.model{
    height: 240px;
    position: absolute;
    top: 112px;
    left: 53%;
    transform: translateX(-70%);
}


/* about-container */
.about-container{
    width: 80%;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    margin: -7% auto 20px auto;
    display: flex;
    position: relative;
    justify-content:space-evenly ;
    align-items: center;
}
.about-container img{
    height: 250px;
    box-shadow: -10px -10px 10px rgb(0 0 0 / 30%);
}
.about-text{
    width: 550px;
}
.about-text p:nth-child(1){
    color: #403e3e;
    font-family:'Varela Round', sans-serif;
    font-size: 23px;
    font-weight: bold;
    line-height: 0px;
}
.about-text p:nth-child(2){
    color: #3e3d3d;
    font-family:'Varela Round', sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 63px;
}
.about-text p:nth-child(3),.about-text p:nth-child(4){
    color: #7e7d7d;
    font-size: 16px;
    font-family:'Varela Round', sans-serif;
   
}
.about-text button{
    width: 120px;
    height: 40px;
    color: #FFFFFF;
    outline: none;
    border: none;
    font-family:'Varela Round', sans-serif;
    background-color:#262525;

}

/* services */
 .services{
     height: 600px;
     background-color: #FFFFFF;
     padding: 2% 10% 0px 10%;
 }
 .services-text p:nth-child(1){
    font-family:'Varela Round', sans-serif;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 30px;
    line-height: 30px;

 }
 .services-text p:nth-child(2){
    font-family:'Varela Round', sans-serif;
    font-weight: bold;
    color: #3e3e3d;
    font-size: 15px;
    line-height: 40px;

 }
 .services-text p:nth-child(3){
    font-family:'Varela Round', sans-serif;
    font-weight: bold;
    color: #3e3e3d;
    font-size: 15px;
    line-height: 20px;

 }
 .services-text{
     width: 500px;
     margin: 50px 0px;
 }

 .box-container{
     display: flex;
     justify-content:space-evenly;
 }
 .box-1,.box-2,.box-3{
     width: 300px;
     height: 320px;
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;

 }
 .box-1,
 .box-2,
 .box-3{
    background-color: rgba(0, 0, 0, 0.8);
}
.box-1 span,.box-2 span,.box-3 span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Varela Round', sans-serif;
    font-weight: bold;
}
.heading{
    padding: 10px;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
    color: #FFFFFF;
    font-family:'Varela Round', sans-serif;
    font-size: 23px;
    line-height: 15px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
    color: #8f8f8f;
    font-family:'Varela Round', sans-serif;
    font-size: 15px;
    text-align: center;
    width:230px ;
    margin: 0px 0px 20px 0px;
}
.box-1 button,
.box-2 button,
.box-3 button{
    width: 100px;
    height: 30px;
    background-color:#FFFFFF;
    border:none;
    outline: none;
    border-radius: 5px;
}
/* education */
.educ{
    height: 800px;
    width: 100%;
    background-image: url("../images/background2.webp");
    background-attachment: fixed;
    position: relative;
    
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}
.overlay h1{
    text-align: center;
    margin: 50px auto;
    font-family:'Varela Round', sans-serif;
    color: #FFFFFF;
}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
footer p{
    font-family:'Varela Round', sans-serif;
    font-weight: bold;
}
.social-icons{
    display: flex;

}
.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;

}
.social-icons a:hover , .a-social-b a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
    color: #FFFFFF;
}

.a-social-b{
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);

}

.a-social-b a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.a-social-b i{
 
    font-size: 20px;
}


